body {
    background-color: #121212;
    
}
    .trackCard {
        img {
            max-height: 150px;
            max-width: 150px;
        }
        h1 {
            padding: 0;
            margin: 0;
        }
        p {
            margin: 0;
        }
    }

#profile {
    color: #b3b3b3;
    display: flex;
    min-width: 700px;
    #profile-left {
        display: flex;
        margin-left: auto;
    }
    #profile-right {
        gap: 10px;
        font-size: 15px;
        display: flex;
        margin-left: auto;  
    }
    img {
        height: 75px;
        width: 75px;
        
    }
    
}
